<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hd_acs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HD_ACS"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.DayNightActivity"
            android:exported="false"
            android:label="@string/title_activity_day_night" />
        <activity
            android:name=".DBActivity"
            android:exported="false" />
        <activity
            android:name=".HatsKartuzActivity"
            android:exported="false" />
        <activity
            android:name=".HatsVisorActivity"
            android:exported="false" />
        <activity
            android:name=".HatsHatActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".HatsPanamaActivity"
            android:exported="false" />
        <activity
            android:name=".WorkersProgressActivity"
            android:exported="false" />
        <activity
            android:name=".DefectProductsCreateActivity"
            android:exported="false" />
        <activity
            android:name=".DefectProductsActivity"
            android:exported="false" />
        <activity
            android:name=".StorageCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ManufacturedProductsCreateActivity"
            android:exported="false" />
        <activity
            android:name=".StorageActivity"
            android:exported="false" />
        <activity
            android:name=".ManufacturedProductsActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>